*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primario: #9FFFF5;
    --primarios1: #85FFD1;
    --primarios2: #73DFB6;
    --primariol1: #BDFFFD;
    --primariol2: #DCFFFE;

    --secundario: #50426A;
    --secundarios1: #3E2F5B;
    --secundarios2: #312053;
    --secundariol1: #625875;
    --secundariol2: #867F92;
    
    --acento: #FF499E;

    --blanco: #F1ECEF;
    --negro: #140303;

    --error: #DB1515;
    --exito: #B1DD14;
    --verdeoscuro: #3E5E13;
   

    --gris: #A3ADA1;
    --grisoscuro: #425A6C;
    --grisverdoso: #37433E;

    --atencion: #D3D711;
    --negroopacidad: #140303; /*con 75% de opacidad*/

    --fuenteh1: 36px;
    --fuenteh2: 24px;
    --fuenteh3: 20px;
    --fuentebody: 16px;
    --fuenteaclaracion: 14px;
    --espaciadoboton: 2.52px;
    --fuenteboton: 14px;
    --fuenteprecio: 40px;
    --fuentepreciochico: 32px;
    --fuentecard: 14px;
}

body{
    background-color: var(--primario);
}

img{
    width: 8vh;
}

.header{
    background-color: var(--grisverdoso);
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
}

.nombre-pagina{
    color: var(--blanco);
    font-size: 1.3em;
    font-family: 'Sarpanch', sans-serif;
    font-size: var(--fuenteh1);
}

.logo{
    margin-left: 35px;
    display: flex;
    align-items: center;
}

.barra-busqueda{
    display: flex;
    align-items: center;
}


.saludo-perfil{
    font-size: var(--fuentebody);
}

.perfil{
    width: 54px;
    height: 54px;
    border-radius: 100px;
}

.main{
    height: 85vh;
}

.main-registro{
    height: 150vh;
}

.footer{
    display:flex;
    align-items: center;
    background-color: var(--grisverdoso);
    height: 62vh;
}

.contenedor-formulario{
    display: flex;
    justify-content:center;
    align-items: center;
}

.formulario{
    background-color: var(--grisverdoso);
    width:693px;
    height:391px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
}

.fondo-carrusel .populares{
    color: var(--blanco);
   
    padding: 20px;
}

.main-index h2{
    font-weight: 100;
    padding: 20px;
}

.formulario-registro{
    background-color: var(--grisverdoso);
    width: 804px;
    height: 901px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
}

.boton-registrarse{
    background-color: var(--secundariol1);
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    letter-spacing: var(--espaciadoBoton);
    font-size:var(--fuenteboton)
}

.boton-google{
    background-color:#DB4A39;
    color: var(--blanco);
    width: 300px;
    height: 35px;
}

.boton-facebook{
    background-color:#3B5998;
    color: var(--blanco);
    width: 300px;
    height: 35px;
}

.g-recaptcha{
    width: 300px;
    height: 71px;
}

a{
    color:var(--blanco)

}

label{
    color: var(--blanco);
}

input{
    border-bottom: 2px solid var(--Primario, #9FFFF5);
    background: var(--Blanco, #F1ECEF);
    width: 300px;
    height: 35px;
}


.contenedor-barra-busqueda{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.barra-busqueda{
    background-color: #140303;
    border-radius: 2em;
    color: var(--blanco);
    align-items: center;
    justify-content: center;
    border: 2px solid var(--Primario-S1, #85FFD1);
}

.linea{
    width: 100%;
}

.redes-facebook{
    width: 150px;
    height: 35px;
    border-radius: 980px;
    background: #3B5998;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-instagram{
    width: 150px;
    height: 35px;
    border-radius: 100px;
    background: linear-gradient(180deg, #FF499E 0%, #FFE249 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-twitter{
    width: 150px;
    height: 35px;
    border-radius: 100px;
    background: #00ACEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volver{
  float: right;
}

.fondo-carrusel{
    background-color: var(--grisoscuro);
    width:100%;
    height:455px;
}

.compra{
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: var(--Exito, #B1DD14);
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 17px;
    bottom: 20px;
    box-sizing: border-box;
}

.contenedor-carrito{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.contenedor-perfil{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.acerca-de{
    margin-left: 45px;
    width: 95%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 

.contenido-footer{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-redes{
    display: flex;
    justify-content: center;
    
}

.redes{
    display: flex;
    font-size: var(--fuentebody);
}

.redes a{
    text-decoration: none;
}

.clickeables{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clickeables a{
    font-size: var(--fuentebody)
}


.texto-javier{
  width: 100px;
  color: var(--blanco);
}

.texto-javier h3{
    font-weight: 200;
}

.div-carrito{
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input, label {
    display:block;
}

.nombre-nombre, .contraseña-contraseña, .email-email, .nickname-nickname,
.apellido-apellido{
    margin-bottom: 4px;
    font-size: var(--fuenteh3);
}
.contenedor-separador{
    display: flex;
}

.o{
    color: var(--blanco);
}

.separador{
    width: 139px;
    height: 1px;
    background: var(--Gris, #A3ADA1);
}

.titulo-footer{
    color: var(--blanco);
    font-size: var(--fuenteh1);
}

.texto-footer{
    color: var(--gris);
    font-size: var(--fuenteh3);
}

.clickeables-interno{
    display: flex;
    align-items: center;
}

.clickeables-interno svg{
    margin-right: 10px;
}



.card-juego-gratis{
    margin-left: 30px;
    position: relative;
    margin-top: 12px;
    width: 300px;
    height: 350px;
    background-color: var(--primariol2);
    margin-bottom: 12px;
}


.card-juego-gratis .imagen-card{
    height: 151px;
    width: 300px;
}

.card-juego-gratis .imagen-card img{
    height: 100%;
    width: 100%;
}

.card-juego-gratis .descripcion-juego p{
margin-top: 8px;
margin-left: 25px;
margin-bottom: 34px;
margin-right: 25px;
font-size: var(--fuentecard);
max-height: 11ch;
 max-width: 45ch;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 4;
 overflow: hidden;
 text-overflow: ellipsis;
}

.card-juego-gratis .nombre-juego p{
    font-size: var(--fuenteh3);
    margin-top: 17px;
    margin-left: 25px;
}

.card-juego-gratis .boton-card div{
box-sizing: border-box;

}

.boton-gratis{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
background-color: var(--secundario);
bottom: 0;
height: 64px;
width: 300px;
outline: none;
border: 0;
color: var(--blanco);
letter-spacing: var(--espaciadoboton);
}

.boton-gratis:hover{
    background-color: #5F5179;
    cursor: pointer;
}

.contenedor-juegos{
    display: flex;
}

.card-juego-pago{
    margin-left: 30px;
    position: relative;
    margin-top: 12px;
    width: 300px;
    height: 350px;
    background-color: var(--primariol2);
    margin-bottom: 12px;
}

.card-juego-pago .imagen-card{
    height: 151px;
    width: 300px;
}

.card-juego-pago .imagen-card img{
    height: 100%;
    width: 100%;
}

.card-juego-pago .descripcion-juego p{
    margin-top: 8px;
    margin-left: 25px;
    margin-bottom: 34px;
    margin-right: 25px;
    font-size: var(--fuentecard);
    max-height: 11ch;
     max-width: 45ch;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 4;
     overflow: hidden;
     text-overflow: ellipsis;
    }
    
.card-juego-pago .nombre-juego p{
   font-size: var(--fuenteh3);
    margin-top: 17px;
    margin-left: 25px;
    }
.nombre-categoria p{
    font-size: var(--fuenteh2);
    margin-top: 17px;
    margin-left: 25px;
}

.precio-juego-pago{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 64px;
    background-color: var(--verdeoscuro);
    bottom: 0;
    box-sizing: border-box;
    font-size: var(--fuenteprecio);
    color: var(--exito);
    font-weight: 900;
}    

.boton-pago{
font-size: var(--fuenteboton);
letter-spacing: var(--espaciadoboton);
background-color: var(--exito);
width: 177px;
height: 64px;
position: absolute;
bottom: 0;
right: 0;
outline: none;
border: 0;
}

.boton-pago:hover{
    background-color: #C7F61A;
    cursor: pointer;
}


.contenedor-boton-card-pago div{
    display: flex;
    box-sizing: border-box;

}


.contenedor_boton{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 12%;
    height: 3em;
}

.boton{
    width: 55%;
    height: 0.3em;
    background-color: var(--primarios1);
}

.contenedor-breakpoints{
    color: var(--blanco);
    width: 100%;
    height: 5em;
    background-color: var(--grisoscuro);

}
.titulo-breakpoints{
    margin-left: 10px;
}

.main-juego{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.juego{
    margin-top: 50px;
    width: 950px;
    height: 600px;
    background-color: var(--acento);
}

.opciones-juego{
    margin-bottom: 50px;
    width: 950px;
    height: 98px; 
    background-color: var(--blanco);
    display: flex;
    justify-content: end;
}

.breakpoints{
    font-size:var(--fuentebody); 
    margin-left: 10px;
    margin-top: 10px;  
}

.puntero{
    display: flex;
}

.acerca-del-juego{
    width: 100%;
    height: 800px;
    background-color: var(--blanco);
    display: flex;
}

.escribir-comentario{
    width: 862px;
    height: 46px;
    display: flex;
}

.descrpcion-del-juego{
    margin-top: 20px;
}

.sobre-el-juego{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    width: 50%;
    height: 50%;
}

.como-jugar{
    margin-top: 20px;
    margin-left:20px; 
}

.controles{
    display: flex;
    margin-top:20px;
    height: 50%;
}

.comentario{
    width: 1000px;
    height: 126px;
    background-color: var(--blanco);
    margin-bottom: 30px;
    margin-top: 30px;
}

.linea-prueba{
    border-bottom: 1px solid #000000;
    margin-left: 22px;
    margin-top: 9px;
    margin-bottom: 11px;
}

.contenedor-generos{
    background-color: var(--grisverdoso);
    height: 100%;
    position: absolute;
    z-index: 1;
    height: 51vh;
    width: 20vh;
    left: 0;
    top:13vh;
    display: none;
}


.generos{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 13px;
    margin-bottom: 13px;
    color: var(--blanco);
}

.activo{
    display: block;
}

.contenedor-boton-destacado{
    position: relative;
    box-sizing: border-box;
}

.boton-destacado{
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 334px;
    right: 0px;
    outline: none;
    border: 0;
    color: var(--blanco);
    letter-spacing: var(--espaciadoboton);
    background-color: var(--secundario);
}

.etiqueta1-juego-destacado{
position: absolute;
display: flex;
justify-content: center;
align-items: center;
position: absolute;  
bottom: 72px;
right: 140px;
border-radius: 800px;
width: 75px;
height: 20px;
background-color: var(--gris);
}

.etiqueta2-juego-destacado{
display: flex;
justify-content: center;
align-items: center;
position: absolute;  
bottom: 72px;
right: 220px;
border-radius: 800px;
width: 98px;
height: 20px;
background-color: var(--gris);
}

.etiqueta2-juego-destacado p{
    font-size: var(--fuenteaclaracion);
    color: var(--negro);
}

.etiqueta1-juego-destacado p{
    font-size: var(--fuenteaclaracion);
    color: var(--negro);
}

.contenedor-juego-destacado{
    display: flex;
    position: relative;
}

.imagen-juego-destacado{
    width: 45%;
    height: 100%;
    
}

.imagen-juego-destacado{
    width: 500px;
    height: 320px;
    
}

.titulo-juego-destacado{
    margin-top: 40px;
    position: absolute;
    right: 210px;
    font-size: var(--fuenteh2);
}



.imagen-juego-destacado img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.galeria-juego-destacado{
margin-top: 65px;
width: 48%;

}

.galeria-juego-destacado img{
    margin-top: 3px;
   width: 150px;
   height: 70px;
   margin-left: 3px;
}

#slider {
   margin: 0 auto;
   width: 800px;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
  
 
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: rgba(62, 47, 91, 0.35)
}
#slides .slide_2 {
   background: #003459;
}
#slides .slide_3 {
   background: #007EA7;
}
#slides .slide_4 {
   background: #00A8E8;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}