*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primario: #9FFFF5;
    --primarios1: #85FFD1;
    --primarios2: #73DFB6;
    --primariol1: #BDFFFD;
    --primariol2: #DCFFFE;

    --secundario: #50426A;
    --secundarios1: #3E2F5B;
    --secundarios2: #312053;
    --secundariol1: #625875;
    --secundariol2: #867F92;
    
    --acento: #FF499E;

    --blanco: #F1ECEF;
    --negro: #140303;

    --error: #DB1515;
    --exito: #B1DD14;
    --verdeoscuro: #3E5E13;
   

    --gris: #A3ADA1;
    --grisoscuro: #425A6C;
    --grisverdoso: #37433E;

    --atencion: #D3D711;
    --negroopacidad: #140303; /*con 75% de opacidad*/

    --fuenteh1: 36px;
    --fuenteh2: 24px;
    --fuenteh3: 20px;
    --fuentebody: 16px;
    --fuenteaclaracion: 14px;
    --espaciadoboton: 2.52px;
    --fuenteboton: 14px;
    --fuenteprecio: 40px;
    --fuentepreciochico: 32px;
    --fuentecard: 14px;
}

body{
    background-color: var(--primario);
}

img{
    width: 8vh;
}

.header{
    background-color: var(--grisverdoso);
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
}

.nombre-pagina{
    color: var(--blanco);
    font-size: 1.3em;
    font-family: 'Sarpanch', sans-serif;
    font-size: var(--fuenteh1);
}

.logo{
    margin-left: 35px;
    display: flex;
    align-items: center;
}

.barra-busqueda{
    display: flex;
    align-items: center;
}

.perfil{
    width: 54px;
    height: 54px;
    border-radius: 1000px;
    background-color: var(--blanco);
}

.main{
    height: 85vh;
}

.main-registro{
    height: 150vh;
}

.footer{
    display:flex;
    align-items: center;
    background-color: var(--grisverdoso);
    height: 62vh;
}

.contenedor-formulario{
    display: flex;
    justify-content:center;
    align-items: center;
}

.formulario{
    background-color: var(--grisverdoso);
    width:693px;
    height:391px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
}

.formulario-registro{
    background-color: var(--grisverdoso);
    width: 804px;
    height: 901px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
}

.boton-registrarse{
    background-color: var(--secundariol1);
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    letter-spacing: var(--espaciadoBoton);
    font-size:var(--fuenteboton)
}

.boton-google{
    background-color:#DB4A39;
    color: var(--blanco);
    width: 300px;
    height: 35px;
}

.boton-facebook{
    background-color:#3B5998;
    color: var(--blanco);
    width: 300px;
    height: 35px;
}

.g-recaptcha{
    width: 300px;
    height: 71px;
}

a{
    color:var(--blanco)

}

label{
    color: var(--blanco);
}

input{
    border-bottom: 2px solid var(--Primario, #9FFFF5);
    background: var(--Blanco, #F1ECEF);
    width: 300px;
    height: 35px;
}

.contenedor-barra-busqueda{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.barra-busqueda{
    background-color: #140303;
    border-bottom: none;
    border-radius: 2em;
    color: var(--blanco);
    align-items: center;
    justify-content: center;
}

.redes-facebook{
    width: 150px;
    height: 35px;
    border-radius: 980px;
    background: #3B5998;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-instagram{
    width: 150px;
    height: 35px;
    border-radius: 100px;
    background: linear-gradient(180deg, #FF499E 0%, #FFE249 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-twitter{
    width: 150px;
    height: 35px;
    border-radius: 100px;
    background: #00ACEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volver{
  float: right;
}

.fondo-carrusel{
    background-color: var(--grisoscuro);
    width:100%;
    height:455px;
}

.div-carrito{
    margin-right: 45px;
    margin-top: 40px;
    display: flex;
    margin-left: auto;
    justify-content: space-around;
}

.contenedor-perfil{
    display: flex;
    margin-left: auto;
    margin-right: 35px;
    margin-left: 0;
    margin-top: 35px;
    justify-content: space-around;
}

.acerca-de{
    margin-left: 45px;
    width: 95%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenido-footer{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-redes{
    display: flex;
    justify-content: center;
    
}

.redes{
    display: flex;
    font-size: var(--fuentebody);
}

.redes a{
    text-decoration: none;
}

.clickeables{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clickeables a{
    font-size: var(--fuentebody)
}


.texto-javier{
    margin-top: 15px;
    margin-right: 20px;
}

input, label {
    display:block;
}

.nombre-nombre, .contraseña-contraseña, .email-email, .nickname-nickname,
.apellido-apellido{
    margin-bottom: 4px;
    font-size: var(--fuenteh3);
}
.contenedor-separador{
    display: flex;
}

.o{
    color: var(--blanco);
}

.separador{
    width: 139px;
    height: 1px;
    background: var(--Gris, #A3ADA1);
}

.titulo-footer{
    color: var(--blanco);
    font-size: var(--fuenteh1);
}

.texto-footer{
    color: var(--gris);
    font-size: var(--fuenteh3);
}

.clickeables-interno{
    display: flex;
    align-items: center;
}

.clickeables-interno svg{
    margin-right: 10px;
}

