*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primario: #9FFFF5;
    --primarios1: #85FFD1;
    --primarios2: #73DFB6;
    --primariol1: #BDFFFD;
    --primariol2: #DCFFFE;

    --secundario: #50426A;
    --secundarios1: #3E2F5B;
    --secundarios2: #312053;
    --secundariol1: #625875;
    --secundariol2: #867F92;
    
    --acento: #FF499E;

    --blanco: #F1ECEF;
    --negro: #140303;

    --error: #DB1515;
    --exito: #B1DD14;
    --verdeoscuro: #3E5E13;
   

    --gris: #A3ADA1;
    --grisoscuro: #425A6C;
    --grisverdoso: #37433E;

    --atencion: #D3D711;
    --negroopacidad: #140303; /*con 75% de opacidad*/
   
}

body{
    background-color: var(--primario);
}

img{
    width: 8vh;
}

.header{
    background-color: var(--grisverdoso);
    width: 250vh;
    height: 13vh;
    display: flex;
}

.nombre-pagina{
    color: var(--blanco);
    font-size: 1.3em;
    font-family: 'Sarpanch', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
}

.barra-busqueda{
    display: flex;
    align-items: center;
}

.main{
    height: 85vh;
}

.footer{
    display:flex;
    background-color: var(--grisverdoso);
    height: 60vh;
}

.contenedor-formulario{
    display: flex;
    justify-content:center;
    align-items: center;
}

.formulario{
    background-color: var(--grisverdoso);
    width:693px;
    height:391px;
}

.boton-registrarse{
    background-color: var(--secundariol1);
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.boton-google{
    background-color:#DB4A39;
    width: 300px;
    height: 35px;
}

.boton-facebook{
    background-color:#3B5998;
    width: 300px;
    height: 35px;
}

a{
    color:var(--blanco)

}

input{
    border-bottom: 2px solid var(--Primario, #9FFFF5);
    background: var(--Blanco, #F1ECEF);
    width: 300px;
    height: 35px;
}

.contenedor-barra-busqueda{
    display:flex;
    align-items: center;
    justify-content: center;
    width:60%;
}

.barra-busqueda{
    background-color: #140303;
    border-bottom: none;
    border-radius: 2em;
    color: var(--blanco);
}

.redes-facebook{
    width: 150px;
    height: 35px;
    border-radius: 980px;
    background: #3B5998;
}

.redes-instagram{
    width: 150px;
    height: 35px;
    border-radius: 100px;
    background: linear-gradient(180deg, #FF499E 0%, #FFE249 100%);
}

.redes-twitter{
    width: 150px;
    height: 35px;
    border-radius: 100px;
    background: #00ACEE;
}
