.seccion-estirable1{
    width: 100%;
}

body{
    background-image: url(img/Untitled-1\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 50vh;
}

.boton-comprar{
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    position: relative;
    left: 1000px;
    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style:normal;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 2.2px;
}

.menu-hamburguesa{
    position: absolute;
    left: 50px;
}

.edificio-izquierda{
  position: relative;
  right:210px;
  top: 83px;
}

.edificio-derecha{
    position: relative;
    top: 60px;
    left:227px;
}

.edificio-centro{
    position: relative;
    top:568px;
    right:650px;
}

.seccion-estirable1{
    display: flex;
}

.spiderman-negro{
    position: absolute;
    top: 320px;
    right: 140px;
}

.spiderman-rojo{
    position: absolute;
    top:400px;
    right:370px;
}

.spiderman-blanco{
    position: absolute;
    top:380px;
    right:780px;
}

.titulo-spidey{
    position: absolute;
    left: 270px;
    top: 80px;
}

.telaraña-izqueirda{
    position: absolute;
    right: 670px;
    top:370px;
}

.telaraña-derecha{
    position: absolute;
    right:-195px;
    top: 370px;
}


.rectangulo-violeta {
    position: relative;
    right: 10px;
    z-index: -1;
    bottom: 25px;
}

.titulo-seccion-1080{
    color: white;
    position: relative;
    bottom: 620px;
    font-size: 55px;
    left: 70px;
    line-height: 0.9;
}

.texto-seccion-1080{
    color: white;
    position: relative;
    bottom: 640px;
    left: 70px;
    font-size: 18px;
    font-weight: 100;
}

.duende-gigante{
    position: relative;
    bottom: 1050px;
    left: 670px;
}

.imagen-duende{
    position: relative;
    bottom: 1600px;
    z-index: -1;
    left: 45px;
}

.imagen-spiderman-rojo{
    position: relative;
    bottom: 1500px;
    left: 60px;
}

.imagen-spiderman-negro{
    position: relative;
    bottom: 2016px;
    left: 425px;
}

.imagen-spiderman-blanco{
    position: relative;
    bottom: 2511px;
    left: 790px;
}

.ghost-spider{
    position: relative;
    bottom:2360px;
    right:50px;
}

.tarjeta-1{
    position: relative;
    bottom: 3100px;
}

.tarjeta-2{
    position: relative;
    bottom: 3400px;
}

.tarjeta-3{
    position: relative;
    bottom: 3740px;
    left: 20px;
}

.rectangulo-negro{
    position: relative;
    bottom: 4200px;
    z-index: -1000;
    right:20px;
    margin-bottom: -4000px;
}

.texto-rectangulo-negro{
    position: relative;
    left: 90px;
    font-size: 50px;
    bottom: 470px;
    line-height: 0.9;
    color: white;
}

.fondo-cielo{
    position: relative;
    bottom: 700px;
    left: 36px;
    margin-bottom: -1000px;
}

.arboles{
    position: relative;
    bottom: 317px;
    left: 65px;
}

.hojas-piedra{
    position: relative;
    bottom: 850px;
    left: 65px;
    z-index: 10;
}

.hulk{
    position: relative;
    bottom: 1275px;
    left: 730px;
}

.robot{
    position: relative;
    bottom: 2130px;
    left: 500px;
}
 
.chica-elastica{
    position: relative;
    bottom: 2590px;
    left: 80px;
}
